:root {
    --bgLight: #275f6c;
    --bgDark: #1B3357;
    --bgMedium: #2f546e;
    --fontLight: #d1ffda;
    --fontMedium: #5e9187;
    --fontDark: #1B3357;
    --fontHover: #76c5b5;
    --white: #ffffff;
    --boxshadow: #2f7b89;
    --headerDark: #142c48;
    --skills: #2d9d6d;
}

* {
    box-sizing: border-box;
    font-family: century gothic, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: fill;
    background-image: linear-gradient( 185deg, var(--bgLight), 15vh, var(--bgDark) 50vh, var(--bgDark) 800px );
    min-height: 100vh;
    color: var(--fontLight)
}

.nav {
    background-color: transparent;
    color: var(--fontLight);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    position: -webkit-sticky;
    z-index: 2;
}

.site-title {
    font-size: 3rem;
    font-weight: normal;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    font-size: 1.2rem;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2vw;

}


.nav li.active {
    /*background-color: rgb(53, 53, 53);*/
    /*box-shadow: inset 0px 0px 5px 5px rgba(77, 77, 77, 0.50);*/
    text-shadow: 5px 5px 10px black;
    color: var(--fontMedium);
    /*display: none !important;*/
}

.nav li:hover {
    color: var(--fontHover);
}

.container {
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
}

.home-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    
    margin-top: 60px;
}

.home-banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
   
}

.home-banner-left h1 {
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    text-align: left;
    padding: 0 0 0 10vw;
    
    margin: 0 0 0 0;
}

.home-banner-left p {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-indent: 0;
    padding: 0px 0 0px 10vw;
    margin: 0;
   
}

.home-banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
   
    overflow: hidden;
}

.home-banner-img {
    width: auto;
    height: 100%;
    
   
}

.home-banner-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
   
    margin-top: 60px;
}

.home-banner-about-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 40%;
    height: 100%;
   
}

.home-banner-about-left h1 {
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    text-align: left;
    padding: 0 0 0 10vw;
   
    margin: 0 0 0 0;
}

.home-banner-about-left p {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-indent: 0;
    padding: 0px 5vw 0px 10vw;
    margin: 0;
   
}

.home-banner-about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 5vw 0 0;
    overflow: hidden;
    border-radius: 50px;
    background-image: linear-gradient( 0deg, var(--bgMedium), 15vh, var(--bgDark) 50vh, var(--bgDark) 800px );
    box-shadow: #2f7b89 7px 7px 5px 0px;
}

.home-skills {
    width: 100%;
    height: 10%;
   
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--headerDark);
}

.skills {
    width: 90%;
    height: 100%;
    font-size: 1.8rem;
    color: var(--fontMedium);
  
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 2vw;
    background-color: transparent;


}

.skills-right {
    width: 10%;
    height: 100%;   
    margin: 0;
    padding: 0;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.oval {
    width: 25px;
    height: 13px;
    content: "";
    background-color: var(--boxshadow);
    color: var(--fontDark);
    border-radius: 15px 15px 15px 15px;
    margin: 0;
    
}

.home-list-skills {
    width: 100%;
    height: 90%;
   
    border-radius: 0 0 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 2vw 2vw 2vw 2vw;
}

.home-list-skills-item {
    width: 100%;
    height: 60px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--skills);
    border-radius: 10px;
}

.home-subtitle {
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    text-align: left;
    padding: 80px 0 0 10vw;

    margin: 0 0 0 0;
}

.work-container {
    width: 100%;
    height: 400px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    margin: 100px 0 0 0;
    overflow: hidden;
}

.work-container-left {
    width: 60%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0vw 0 9vw;
    margin: 0 0 0 0;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    border-radius: 40px;
    overflow: hidden;
    position: relative;

}

.work-overlay {
    content: "";
    background-color: var(--bgDark);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    margin: 0 0 0 9vw;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    
    
}

.work-container-right {
    width: 40%;
    height: 100%;
  
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
}

.work-tag {
    width: 45vw;
    height: 100%;

    font-size: 1rem;
    display: flex;
    position: absolute;
    right: 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}

.work-item-title {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    padding: 0 2vw 0 0;
    margin: 0 0 0 0;
   
}

.work-text-container {
    width: 100%;
    height: 60%;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 0 2vw 0 2vw;
    margin: 0 0 0 0;
    background-color: var(--headerDark);
    border-radius: 35px;
 
    box-shadow: #2f7b89 7px 7px 5px 0px;
}



.work-tag ul {
    content: "";
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
    padding: 0 0vw 0 0;
    margin: 0 0 0 0;
 
    

}

.work-skills li {
    padding: 0 2vw 0 0vw;
    color: var(--fontMedium);
}
















.dark-font-color {
    color: var(--fontMedium);
}










